.card {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	text-align: center;
	background-color: #005480;
	color: #ffffff;
	padding: 10px;
	font-size: 0.8rem;
}

@media (max-width: 600px) {
	.card {
		flex-direction: column;
	}
}
